$target-colors: (
  green-color: #a1dd1b,
  red-color: #e81c26,
  blue-color: #129188,
);

$tones: 10, 20, 30, 40, 50, 60, 70, 80;

@mixin generate-color-var($key, $value) {
  --#{$key}: #{$value};
  --#{$key}-rgb: #{red($value)}, #{green($value)}, #{blue($value)};
  @each $tone in $tones {
    $scale-value: adjust-color($value, $lightness: $tone / 2 * 1%);
    --#{$key}-#{$tone}: #{$scale-value};
    --#{$key}-#{$tone}-rgb: #{red($scale-value)}, #{green($scale-value)},
      #{blue($scale-value)};
  }
}
// Color Palette: Triadic Scheme

//Sass variables
$red-color: rgb(232, 28, 38);
$primary-color: rgb(75, 119, 141);
$secondary-color: rgb(40, 181, 181);
$tertiary-color: rgb(143, 217, 168);
$quatenary-color: rgb(210, 230, 156);
$light-color: lighten($primary-color, 30%);
$lighter-color: lighten($primary-color, 70%);
$super-light-color: lighten($primary-color, 95%);
$button-color: rgb(40, 181, 181);
$button-light-color: lighten($button-color, 50%);
$background-color: rgb(237, 231, 231);
