/* reset default styles */
// @import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

//Sass variables
$primary-color: rgb(0, 0, 0);
$secondary-color: lighten($primary-color, 30%);
$light-color: lighten($primary-color, 70%);
$super-light-color: lighten($primary-color, 95%);
$button-color: #0d738d;
$button-light-color: lighten($button-color, 50%);

body {
  background-color: rgb(237, 231, 231);
  font-family: 'Roboto', sans-serif;
}

.img_responsive {
  width: 3em;
  height: 3em;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  color: #005c55;
}

#QL {
  color: #2e9991;
}

.dashboard__headers {
  color: #06746c;
  margin-left: 20px;
  font-size: 30px;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.input_form {
  width: 100%; /* Occupy full width of the container */
  margin-bottom: 20px; /* Add space below the form */
}

#textbox {
  height: 35px;
  width: 100%;
  max-width: 400px;
  font-size: 14pt;
  margin: 20px;
  background-color: rgba(0, 92, 85, 0.05);
}
#textbox:focus {
  outline: none;
  border: 2px solid #129188;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 63px;
  height: 33px;
  margin: 0 10px;
}
.switch input {
  display: none;
}

.tests {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  align-items: center;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 20px;
  background-color: grey;
}

.slider:before {
  position: absolute;
  content: '';
  height: 29px;
  width: 30px;
  left: 3px;
  top: 2px;
  background-color: whitesmoke;
  transition: 0.4s;
  border-radius: 20px;
}

input:checked + .slider {
  background-color: #129188;
}

input:checked + .slider:before {
  transform: translateX(28px);
}

#select_all_button {
  float: left;
  margin: 30px;
  margin-left: 10px;
}

#submit_button {
  float: left;
  margin: 30px;
  margin-left: 0.5px;
}

.text {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 15px;
}

.checkbox {
  height: auto;
}

.underline {
  width: auto;
  height: 3px; /* Adjust the height to control the thickness of the line */
  margin: 0 20px 20px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 92, 85, 1) 0%,
    rgba(46, 153, 145, 1) 50%,
    rgba(81, 177, 170, 1) 100%
  );
  background-clip: content-box;
  padding: 1px; /* This will act as the border */
}

.config-form__container {
  background-color: #fff;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow:
    rgba(0, 92, 85, 0.7) 3px 3px,
    rgba(0, 92, 85, 0.5) 6px 6px,
    rgba(0, 92, 85, 0.3) 9px 9px,
    rgba(0, 92, 85, 0.1) 12px 12px,
    rgba(0, 92, 85, 0.05) 15px 15px;
  /* box-shadow: 5px 5px 5px rgb(159, 154, 154); */
}

.buttons {
  appearance: button;
  backface-visibility: hidden;
  border-width: 0;
  box-shadow:
    rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0,
    rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition:
    all 0.2s,
    box-shadow 0.08s ease-in,
    background-color 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submit_button {
  background-color: #2e9991;
  border-radius: 6px;
  height: 44px;
  margin: 12px 20px 20px;
  padding: 0 25px;
  width: 100px;
  &:hover {
    background-color: rgba(0, 92, 85);
  }
}

.results-table-export__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

#dashboard-export-csv_button {
  border-radius: 3px;
  padding: 5px 5px;
  width: auto;
  background-color: #005c55;
  &:hover {
    background-color: rgba(46, 153, 145);
  }
}

#dashboard-test-config__button {
  border-radius: 3px;
  padding: 5px 5px;
  width: auto;
  background-color: #2e9991;
  &:hover {
    background-color: rgba(0, 92, 85);
  }
}

.results-table__container {
  background-color: #fff;
  padding: 0 20px 20px 20px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow:
    rgba(0, 92, 85, 0.7) 3px 3px,
    rgba(0, 92, 85, 0.5) 6px 6px,
    rgba(0, 92, 85, 0.3) 9px 9px,
    rgba(0, 92, 85, 0.1) 12px 12px,
    rgba(0, 92, 85, 0.05) 15px 15px;
}
