.dashboard__container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Center children horizontally */
  padding: 20px;
}

/* Style the ScanConfigForm */
.input_form {
  width: 100%; /* Occupy full width of the container */
  max-width: 400px; /* Limit the maximum width */
  margin-bottom: 20px; /* Add space below the form */
}

/* Style the SecurityScanResultsTable */
.results-table__container {
  width: 100%; /* Occupy full width of the container */
  max-width: 800px; /* Limit the maximum width */
}

#textbox {
  height: 35px;
  width: 100%;
  font-size: 14pt;
  margin: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 0 10px;
  margin: 15px;
}

.tests {
  display: flex;
  flex-direction: row-reverse;
  float: left;
  vertical-align: middle;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
  background-color: grey;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: '';
  height: 35px;
  width: 35px;
  left: 3px;
  top: 2px;
  background-color: whitesmoke;
  transition: 0.4s;
  border-radius: 40px;
}

input:checked + .slider {
  background-color: #7902cf;
}

input:checked + .slider:before {
  transform: translateX(38px);
}

#select_all_button {
  float: left;
  margin: 30px;
  margin-left: 10px;
}

#submit_button {
  float: left;
  margin: 30px;
  margin-left: .5px;
}

.text {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
}

.checkbox {
  height: auto;
}
