body {
  background-color: rgb(255, 255, 255);
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.input_form {
  width: 100%; /* Occupy full width of the container */
  max-width: 400px; /* Limit the maximum width */
  margin-bottom: 20px; /* Add space below the form */
}

#textbox {
  height: 35px;
  width: 100%;
  font-size: 14pt;
  margin: 20px;
}
#textbox:focus {
  outline: none;
  border: 2px solid #7902cf;
}

.switch {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 33px;
  margin: 0 10px;
  margin: 15px;
}

.tests {
  display: flex;
  flex-direction: row-reverse;
  float: left;
  vertical-align: middle;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 20px;
  background-color: grey;
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: '';
  height: 29px;
  width: 30px;
  left: 3px;
  top: 2px;
  background-color: whitesmoke;
  transition: 0.4s;
  border-radius: 20px;
}

input:checked + .slider {
  background-color: #7902cf;
}

input:checked + .slider:before {
  transform: translateX(28px);
}

#select_all_button {
  float: left;
  margin: 30px;
  margin-left: 10px;
}

#submit_button {
  float: left;
  margin: 30px;
  margin-left: 0.5px;
}

.text {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
}

.checkbox {
  height: auto;
}
.underline {
  width: calc(100vw - 100px);
  height: 3px; /* Adjust the height to control the thickness of the line */
  margin-left: 20px;
  background-image: linear-gradient(
    90deg,
    rgba(128, 0, 128, 1) 0%,
    rgba(147, 112, 219, 1) 50%,
    rgba(238, 130, 238, 1) 100%
  );
  background-clip: content-box;
  padding: 1px; /* This will act as the border */
}

.container {
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow:
    rgba(128, 0, 128, 0.4) 5px 5px,
    rgba(128, 0, 128, 0.3) 10px 10px,
    rgba(128, 0, 128, 0.2) 15px 15px,
    rgba(128, 0, 128, 0.1) 20px 20px,
    rgba(128, 0, 128, 0.05) 25px 25px;
  /* box-shadow: 5px 5px 5px rgb(159, 154, 154); */
}

#dashboardHeader {
  margin-left: 20px;
}
#submit_button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #7902cf;
  border-radius: 6px;
  border-width: 0;
  box-shadow:
    rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0,
    rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 10px 10px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition:
    all 0.2s,
    box-shadow 0.08s ease-in,
    background-color 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  &:hover {
    background-color: rgba(121, 2, 207, 0.7);
  }
}
.results-table__container {
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow:
    rgba(128, 0, 128, 0.4) 5px 5px,
    rgba(128, 0, 128, 0.3) 10px 10px,
    rgba(128, 0, 128, 0.2) 15px 15px,
    rgba(128, 0, 128, 0.1) 20px 20px,
    rgba(128, 0, 128, 0.05) 25px 25px;
}
